body {
    background: url(1.jpg) no-repeat;
    font-family: Georgia;
}

h1 {
    background-color: rgb(128, 0, 64);
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(255, 0, 157);
    font-size: 25px;
}

p {
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
